name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.6'
          channel: 'stable'

      - name: Install dependencies
        working-directory: mobile
        run: flutter pub get

      - name: Verify formatting
        working-directory: mobile
        run: flutter format --set-exit-if-changed .

      - name: Analyze project source
        working-directory: mobile
        run: flutter analyze

